/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
}

/* MAIN STYLING */

:root {
  --main-color: #ffc0cb;
  --secondary-color: #ff9faf;
}

/* Nav Bar Styling */

.topnav {
  display: flex;
  justify-content: space-between;
  background: var(--main-color);
  overflow: hidden;
  height: 4rem;
}

.topnav a {
  display: flex;
  text-decoration: none;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.topnav a:hover {
  background: var(--secondary-color);
}

.topnav a.active {
  background: var(--secondary-color);
}
