/* CSS RESETS */
* {
  margin: 0;
  padding: 0;
}

/* UNIVERSAL STYLING */

:root {
  --main-color: #ffd3da;
  --secondary-color: #ff9faf;
  --borders: #e4cd82;
}

/* Nav Bar Styling */

.topnav {
  display: flex;
  justify-content: space-between;
  background: var(--main-color);
  overflow: hidden;
  height: 4rem;
  border-bottom: 3px solid var(--borders);
}

.topnav a {
  display: flex;
  text-decoration: none;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.topnav a:hover {
  background: var(--secondary-color);
}

.topnav a.active {
  background: var(--secondary-color);
}

/* Main Section Styling */

section.main-container {
  background: var(--main-color);
  height: 100vw;
  text-align: center;
}

div.main-logo {
  background-image: url("/assets/images/logo.jpg");
  background-size: 25rem 20rem;
  background-repeat: no-repeat;

  width: 30rem;
  height: 20rem;
  margin: 0 100px;
}
